{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="logo">
        <img src="{% static 'tree.jpg'%}">
    </a>
  </div>
    <h1>Eco Hazards</h1>
    <p>Eco Hazards is an SFSU startup company that plans to help clean up the environment through our web-based application.</p>

    <!-- Search Bar  ###  Change placeholder to change words inside search-->
	<div class="navbar navbar-form, container" role="search">
    <h3>Search for Hazard</h3>
        <div class="container">
  <div class="row">
      <div class="col"></div>
      <div class="col"></div>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Enter Zipcode">
						<span class="input-group-btn">
							<button type="submit" class="btn btn-dark"><img src="{% static 'search.png'%}"></button>
						</span>
					</div>
  </div>
            <button type="button" class="btnPost btn-dark btn-lg">Report a Hazard</button>
            <a class="twitter-timeline" data-width="271" data-height="466" href="https://twitter.com/SFEnvironment?ref_src=twsrc%5Etfw">Tweets by SFEnvironment</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
    </div>
    <div style="padding-bottom: 50px"></div>
<div class="dropdown">
    <button type="button" class="btn btn btn-dark">Refresh</button>
  <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Recent Activity
  </button>
    <button type="button" class="btn btn-dark">Map Viewer</button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Your Posts</a>
    <a class="dropdown-item" href="#">Most Viewed</a>
  </div>
</div>
    <div style="padding-bottom: 50px"></div>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
        <div id="map"></div>
    <script>
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
        var labelIndex = 0;
      function initMap() {
          var uluru = {lat: 37.7739, lng: -122.4313};
          var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 12,
              center: uluru
          });

          google.maps.event.addListener(map, 'click', function(event) {
          addMarker(event.latLng, map);
        });

        // Add a marker at the center of the map.
        addMarker(uluru, map);

          function addMarker(location, map) {
              var marker = new google.maps.Marker({
                  map: map,
                  draggable: true,
                  animation: google.maps.Animation.DROP,
                  position: location,
                  label: labels[labelIndex++ % labels.length],
              });
              marker.addListener('click', toggleBounce);
          }
          google.maps.event.addDomListener(window, 'load', initialize);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZXrZ9XmAIYt4rCRY7k2a0-k3Ko8chRxc&callback=initMap">
    </script>
  <div style="padding-bottom: 150px"></div>
  </body>


<div class="row">
    <div class="col-md-6">
        <div class="container">
           <h3>Postings by Me</h3>
    <textarea class="form-control" rows="3" ></textarea>
            <div style="padding-bottom: 150px"></div>
</div>
    </div>
 <div class="col-md-6">
     <div class="container">
           <h3>Recent Postings</h3>
    <textarea class="form-control" rows="3" ></textarea>
         <div style="padding-bottom: 150px"></div>
    </div>
  </div> <!-- row -->
  </div>
</html>
{% endblock %}
</div>