{% extends "base.html" %}

{% block content %}

<div class="jumbotron text-center">
    <h1>Eco Hazards</h1>
    <p>Eco Hazards is an SFSU startup company that plans to help clean up the environment through our web-based application.</p>
    <button type="button" class="btn btn-dark btn-lg">Report a Hazard</button>
</div>

    <!-- Search Bar  ###  Change placeholder to change words inside search-->

	<form class="navbar navbar-form, container" role="search">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search">
						<span class="input-group-btn">
							<button type="submit" class="btn btn-default btn-dark">Go</button>
						</span>
					</div>
				</form>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
        <div id="map"></div>
    <script>
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
        var labelIndex = 0;
      function initMap() {
          var uluru = {lat: 37.7739, lng: -122.4313};
          var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 12,
              center: uluru
          });

          google.maps.event.addListener(map, 'click', function(event) {
          addMarker(event.latLng, map);
        });

        // Add a marker at the center of the map.
        addMarker(uluru, map);

          function addMarker(location, map) {
              var marker = new google.maps.Marker({
                  map: map,
                  draggable: true,
                  animation: google.maps.Animation.DROP,
                  position: location,
                  label: labels[labelIndex++ % labels.length],
              });
              marker.addListener('click', toggleBounce);
          }
          google.maps.event.addDomListener(window, 'load', initialize);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZXrZ9XmAIYt4rCRY7k2a0-k3Ko8chRxc&callback=initMap">
    </script>
  <div style="padding-bottom: 150px"></div>
  </body>


<div class="row">
    <div class="col-md-6">
        <div class="container">
           <h3>Postings by Me</h3>
    <textarea class="form-control" rows="3" ></textarea>
            <div style="padding-bottom: 150px"></div>
</div>
    </div>
 <div class="col-md-6">
     <div class="container">
           <h3>Recent Postings</h3>
    <textarea class="form-control" rows="3" ></textarea>
         <div style="padding-bottom: 150px"></div>
    </div>
  </div> <!-- row -->
  </div>
</html>
{% endblock %}
