{% extends "base.html" %} {% block head %} {% endblock %} {% block content %}
<!--  This is place holder report  due to change -->



<div class="container">

    <div class="form-group">
        <label for="usr">Title</label>
        <input type="text" class="form-control" id="usr">
    </div>
    <div class="form-group">
        <label for="pwd">Zipcode / Location </label>
        <input type="password" class="form-control" id="pwd">
    </div>
    <div class="form-group">
        <label for="comment">Context:</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
    <button type="button" class="btn btn-primary btn-block">Report</button>
</div>
<!--  This is place holder report due to change -->

{% endblock %}