<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mark About Page</title>

  <head>
    <title>Mark About Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
      crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>

    <link rel="stylesheet" href="/static/mark-about.css">


</head>

<body>

  <div class="midnight-section">

    <nav class="navbar navbar-expand-sm">
      <a href="#">
        <img src=" " />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
      </button>
      <div class="collapse navbar-collapse justify-content-end uppercase" id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>

        </ul>
      </div>
    </nav>

    <h1> About Page</h1>


    <div class="middle-card">
      <div class="member-pic" img src="">
        <img src="https://marketplace.canva.com/MAB7lMgVCCs/1/thumbnail/canva-young-male-profile-icon-vector-illustration-MAB7lMgVCCs.png"
          width="200" height="100" alt="Computer Hope">

      </div>
      <h3 class="name">Mark S</h3>
      <h5 class="name">Team 7</h5>
      <h5 class="team-job"> Front-End </h5>

      <p> Hi, My name is Mark

      </p>

      <div class="social-links">
        <a href="https://github.com/merksmanship">
          <i class="fab fa-github"></i>
        </a>

      </div>

    </div>

  </div>
  <div class="description">
    <h6 align="center"> Hello, My name is Mark. I am interested in Mobile and Web Development. I plan to pursue this field in the future. I enjoy
      going to hackathons every year and like to work with friends on mobile and web projects.
    </h6>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
    crossorigin="anonymous"></script>
</body>


</html>