<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <title>About</title>
  <style>
    body {
      background: #e2e1e0;
      text-align: center;
    }
    .gmd-card {
      background: #fff;
      border-radius: 2px;
      display: inline-block;
      margin: 1rem;
      padding: 1em;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    .nopad {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  </style>
</head>
<body class="">
  <section class="container">
    <div class="row">
      <div class="col col-md-6 offset-md-3">
        <div class="gmd-card container">
          <div class="row">
            <div class="col col-md-4 nopad">
              <img src="/static/sutherland-about.jpg" class="img-fluid" >
            </div>
            <div class="col col-md-8 align-text-left">
              <b><em>Sean Sutherland</em></b> is a student at San Franciso State University. He loves python like a son, likes <a href="http://dragonfang.tech">javascript</a> enough to be able to list a few dozen of its flaws, and once got paid to program lasers.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
