{% extends 'hazard/base.html' %}
{% load static %}
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; base-uri 'self'; connect-src 'self'; form-action 'self'; img-src 'self' data:; script-src 'self'; style-src 'unsafe-inline'">
    <meta content="origin" name="referrer">
    {% block title %}
    <title>Page not found</title>
    <link rel="stylesheet" href="{% static 'css/404.css' %}"/>
    {% endblock %}
  </head>
  {% block content %}
  <body>
    <div id="clouds">
      <div class="cloud y1"></div>
      <div class="cloud y2"></div>
      <div class="cloud y3"></div>
      <div class="cloud y4"></div>
      <div class="cloud y5"></div>
    </div>
    <div class="wrap">
        <div class="_404-text">404</div>
        <hr>
        <div class="page-text">THE PAGE</div>
        <div class="not-found">WAS NOT FOUND</div>
        <a class="not-btn" style="text-decoration: none;" href="{% url 'ecohazards:index' %}">BACK TO ECOHAZARD</a>
    </div>
  </body>
  {% endblock content %}


