{% extends 'hazard/base.html' %}
{% block content %}

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Pub Date</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">Zipcode</th>
        <th scope="col">Location</th>
        <th scope="col">User</th>
        <th scope="col">Category</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    {% for item in data %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.pub_date }}</td>
            <td>{{ item.title_text}}</td>
            <td>{{ item.content_text}}</td>
            <td>{{ item.zipcode }}</td>
            <td>{{ item.location}}</td>
            <td>{{ item.user_id}}</td>
            <td>{{ item.category.title}}</td>
            <td>{{ item.status.description }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}