{% extends "hazard/base.html" %}
{% load static %}
{% block title %}
<title>Add new post</title>

<script src="{% static 'js/autocompletegeo.js' %}"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxLy54-WVhd-fI3KE_DAAPpZzJNkr8vAc&libraries=places&callback=initAutocomplete">
</script>
    <style>
    #map {
        height: 60vh;
    }
    </style>

{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <form class='form-horizontal' method='POST' action='' enctype='multipart/form-data'> {% csrf_token %}
            {% include "hazard/form-template.html" %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">
                    Save</button>
                    <button type="cancel" style="color:white; background-color:#f44336; border-radius:4px; height:35px; width:60px" onclick="window.location='http://csc648team07.herokuapp.com/';return false;">Cancel</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div id="map"></div>
    </div>
</div>

<script>
    $('<br><input style="width:100%;" id="autocomplete" placeholder="Enter the address" type="text" required>').insertAfter( "#id_image" );
    initAutocomplete()
    //fillInAddress()

</script>

{% endblock %}
