{% extends "hazard/base.html" %}
{% block title %}
  <title>Add new post</title>
{% endblock %}
{% block content %}
<form class='form-horizontal' method='POST' action='' enctype='multipart/form-data'> {% csrf_token %}
  {% include "hazard/form-template.html" %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success" />Save</button>
    </div>
  </div>
</form>
<script>

$('<br><input style="width:250px;" id="autocomplete" placeholder="Enter the address" type="text" required>').insertAfter( "#id_image" );

var placeSearch, autocomplete;
var address = '';
var zip = '';

var componentForm = {
  street_number: 'short_name',
  route: 'long_name',
  locality: 'long_name',
  postal_code: 'short_name'
};


function initAutocomplete() {
  // Create the autocomplete object, restricting the search to geographical
  // location types.
  autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
      {types: ['geocode']});

  // When the user selects an address from the dropdown, populate the address
  // fields in the form.
  autocomplete.addListener('place_changed', fillInAddress);
}

function fillInAddress() {
  // Get the place details from the autocomplete object.
  var place = autocomplete.getPlace();

  // Get each component of the address from the place details
  // and fill the corresponding field on the form.
  for (var i = 0; i < place.address_components.length; i++) {
    var addressType = place.address_components[i].types[0];
    if (componentForm[addressType]) {
      var val = place.address_components[i][componentForm[addressType]];
      if(addressType == 'postal_code')
        zip = val;
      else
        address += val+' ';
    }
  }
  $("#id_zipcode").val(zip);
  $("#id_location").val(address);
}

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxLy54-WVhd-fI3KE_DAAPpZzJNkr8vAc&libraries=places&callback=initAutocomplete">
</script>
{% endblock %}