
{% for item in list %}

 <!-- SHOW THE REPORTS title, date, author, context -->
 <!-- prevent text overflow on panel <span style="word-wrap: break-word;"> -->

 <div class="row">
        <!-- Hazard Reports Entries -->

<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title pull-left">
            <p> <a href="{% url 'ecohazards:post' item.id %}">{{ item.title_text }}</a></p>
        </div>
        <div class="panel-title pull-right">
            <p>{{ item.pub_date }}</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <p><span style="word-wrap: break-word;" > {{ item.content_text}} </span></p>
        <div class="panel-title pull-left">
            <p><a href="{% url 'ecohazards:userposts' item.user.username %}">author : {{ item.user.username }}</a></p>
        </div>
        <div class="panel-title pull-right">
                <button type="button" class="btn btn-success">Status</button>
        </div>
    </div>
</div>

    </div>

    <!-- Pagination Section -->
{% endfor %}
<div class="text-center">
    <ul class="pagination">
        {% if list.has_previous %}
        <li>
            <a href="?page={{ list.previous_page_number }}">previous</a>
        </li>
        {% endif %} {% for item in num_pages %} {% if list.number == item %}
        <li class="active">
            <a href="#">{{ item }}</a>
        </li>
        {% else %}
        <li>
            <a href="?page={{ item }}">{{ item }}</a>
        </li>
        {% endif %} {% endfor %} {% if list.has_next %}
        <li>
            <a href="?page={{ list.next_page_number }}">next</a>
        </li>
        {% endif %}
    </ul>
</div>

     <!--   Twitter Widget   -->
        <div class="text-center">
      
        <a class="twitter-timeline" data-width="371" data-height="466"
           href="https://twitter.com/SFEnvironment?ref_src=twsrc%5Etfw"></a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>