<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://csc648team07.herokuapp.com/">EcoHazard</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="http://csc648team07.herokuapp.com/">Home</a></li>
      <li><a href="http://csc648team07.herokuapp.com/about">About</a></li>
      <li><a href="http://csc648team07.herokuapp.com/posts/my">My Reports</a></li>
      <li><a href="http://csc648team07.herokuapp.com/post/add">Add Post</a></li>
        <li><a href="http://csc648team07.herokuapp.com/map/">Map View</a></li>
    </ul>
  </div>
</nav>

<style>
.amelie {
 background-color: gray;
 padding: 10px;
 margin-top: 45px;
}
</style>

<header class="amelie">
  <h1><font color="white">Amelie Cameron</font></h1>
</header>

<body style ="background-color: white;">
<img src="http://i67.tinypic.com/ncyrn9.jpg" style="float: left; height:360px;  width: 28%; margin-left: 3%; margin-right: 2%; margin-top: 0.5em; margin-bottom: 0.5em;">
<img src="http://i65.tinypic.com/of57a1.jpg" style="float: left; height: 360px; width: 28%; margin-left: 3%;  margin-right: 2%; margin-top: 0.5em; margin-bottom: 0.5em;">
<img src="http://i68.tinypic.com/28bb4ux.jpg" style="float: left; height: 360px; width: 28%; margin-left: 3%; margin-right: 2%; margin-top: 0.5em; margin-bottom: 0.5em;">
<p style="clear: both;">

<section>
    <h2 class="amelie"><font color="white">About Me</font></h2>
    <p>I am a senior Computer Science student at San Francisco State University set to graduate this year.</p>
    <p>Currently I am enrolled in Artificial Intelligence, Biomedical Imaging and Analysis, Software Engineering, and other non-major upper division requirements.</p>
</section>
<section>
  <h2 class="amelie"><font color="white">Education</font></h2>
  <h3>City College of San Francisco</h3>
  <p> Associate's Degree of Computer Science (C++ Route) 2016 </p>
  <h3>San Francisco State University</h3>
  <p> Bachelor's Degree of Computer Science 2018 </p>
</section>
</body>
<footer>
<h2 class="amelie"><font color="white">Github</font></h2>
<form action="http://github.com/amelieakc">
  <input type="submit" value="Go to Profile" />
</form>
</footer>


