{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://csc648team07.herokuapp.com/">EcoHazards</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="http://csc648team07.herokuapp.com/">Home</a></li>
      <li><a href="http://csc648team07.herokuapp.com/about">About</a></li>
      <li><a href="http://csc648team07.herokuapp.com/posts/my">My Reports</a></li>
      <li><a href="http://csc648team07.herokuapp.com/post/add">Add Post</a></li>
        <li><a href="http://csc648team07.herokuapp.com/map/">Map View</a></li>
    </ul>
  </div>
</nav>
<style>
.girish {
    margin-top: 50px;
}
</style>
<body>
<header class = "girish">
<h1>Girish Tiwale</h1>
</header>
<div><img src="{% static 'girish-about.jpg'%}" alt="Not availabe"></div>
<p>Originally from Maharashtra, India. Graduate student at San Francisco State University. Persued Bachelors in University of Pune, Maharashtra, India</p>

</body>
</html>
