<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>A Pen by  Lance  Larsen</title>
  
  
  
  
  
</head>

<body>

  <h1>Lance Larsen</h1>


 <p style="text-indent: 15em;">
<img src="https://puu.sh/znohh/55f8af08b4.jpg" alt="Flowers in Chania">

<body>
 <p style="text-indent: 15em;">
   Summary: I am 22 years old. I like to eat good food and breath fresh air.
 </p>
  <p style="text-indent: 15em;">
   Hobbies: Video Games, Comics, Guitar, Video editing
 </p>
  <p style="text-indent: 15em;">
   Goals: Make a game, Make $$$$
 </p>
</body>
    </>
  
  

</body>

</html>
